name: Build and Release Edgeble Kernel-6.1

on:
  push:
    branches:
      - master

jobs:
  build:
    permissions: write-all
    name: Edgeble Kernel-6.1 runner
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v1

      - name: Clone and Compile
        run: |
          cd /6tops/gitlab/edgeble/core/kernel-6.1
          rm -rf /6tops/out
          export CROSS_COMPILE=/6tops/edgeaia-buildroot/prebuilts/gcc/linux-x86/aarch64/gcc-arm-10.3-2021.07-x86_64-aarch64-none-linux-gnu/bin/aarch64-none-linux-gnu-
          ARCH=arm64 make rockchip_linux_defconfig gpu.config edgeble-6tops.config
          ARCH=arm64 make dtbs Image -j 16; ARCH=arm64 make modules -j 16; ARCH=arm64 make modules_install INSTALL_MOD_PATH=/6tops/out

      - name: Copy deb files and create archive
        run: |
          echo "Present Working Directory"
          cd /6tops/gitlab/edgeble/core/kernel-6.1
          mkdir linux-6.1 && mkdir -p dtb/rockchip && mkdir -p modules-6.1
          cp -fv arch/arm64/boot/dts/rockchip/rk3588-edgeble-*.dtb dtb/rockchip
          cp -fv arch/arm64/boot/dts/rockchip/rk3588-edgeble-*.dtbo dtb/rockchip
          cp -fv arch/arm64/boot/dts/rockchip/rk3588-rock-5b.dtb dtb/rockchip
          cp -fv .config linux-6.1
          cp -frv arch/arm64/boot/Image dtb linux-6.1
          tar -Jcf linux-6.1.tar.xz linux-6.1
          cp -frv /6tops/out/lib/modules/* modules-6.1
          tar -Jcf modules-6.1.tar.xz modules-6.1

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "v1.8"
          body: |
            - Enable CAN
          files: |
            /6tops/gitlab/edgeble/core/kernel-6.1/linux-6.1.tar.xz
            /6tops/gitlab/edgeble/core/kernel-6.1/modules-6.1.tar.xz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
